<div class="col-xs-12">
  <div class="Chrome row">
    <div class="Chrome-buttonGroup pull-right btn-group btn-group-sm hidden-xs">
      <button type="button" class="Chrome-buttonGroup-button btn btn-sm btn-default disabled"
              hd-track-click="PLP - Chevron Left"
              hd-track-click-properties='{ "title": "{{ title }}" }'>
        <i class="fa fa-chevron-left"></i>
      </button>
      <button type="button" class="Chrome-buttonGroup-button btn btn-sm btn-default"
              hd-track-click="PLP - Chevron Right"
              hd-track-click-properties='{ "title": "{{ title }}" }'>
        <i class="fa fa-chevron-right"></i>
      </button>
    </div>
    <h3 class="Chrome-title">
      {{ title }}<span class="Chrome-titleAction" ng-if="totalProducts > 0">{{ totalProducts }} items</span>
    </h3>
  </div>
  <div class="ProductArea clearfix u-marginKiller">
    <div class="ProductCard" ng-repeat="product in products">
      <a class="ProductCard-target" ui-sref="product({ id: product.id })"
         hd-track-click="PLP - Product"
         hd-track-click-properties='{ "productID": "{{ product.id }}", "title": "{{ title }}", "order": "{{ $index }}" }'>
        <div class="ProductCard-imageContainer">
          <img class="ProductCard-image" ng-src="{{ product.thumbnailUrl }}">
        </div>
        <div class="ProductCard-titleContainer">
          <div class="ProductCard-title">
            <p class="ProductCard-titleText">
              {{ product.brandName }} {{ product.title }}
            </p>
          </div>
          <p class="ProductCard-inventory">
            <span class="ProductCard-price">{{ product.price || 0 }}</span> - {{ product.inventoryCount || 0 }} in stock
          </p>
        </div>
        <div class="ProductCard-buttonContainer">
          <div add-to-cart-button
               data-tracking-namespace="PLP"
               data-product="product"
               data-stock="product.inventoryCount">
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
