<!-- recent items -->
<div hd-product-list data-products="recent.products" class="recent row"
     data-title="Previously purchased items"
     data-total-products="recent.totalProducts">
</div>

<!-- categories -->
<div hd-category-list
     data-category-title="categoryTitle"
     data-stack="stack">
</div>

<!-- occupations -->
<div hd-occupation-list data-occupations="occupations" class="occupation row">
</div>

<!-- suggested items -->
<div hd-product-list data-products="suggested.products" class="suggested row"
     data-title="Suggested items"
     data-total-products="suggested.totalProducts">
</div>
