<div class="MobileFooter visible-xs">
  <div class="MobileFooter-linkArea container">
    <div class="row">
      <ul>
        <li>
          <a href="#" class="MobileFooter-link">Help</a>
        </li>
        <li>|</li>
        <li>
          <a href="#" class="MobileFooter-link">Terms</a>
        </li>
        <li>|</li>
        <li>
          <a href="#" class="MobileFooter-link">Privacy</a>
        </li>
        <li>|</li>
        <li>
          <a href="#" class="MobileFooter-link">Feedback</a>
        </li>
      </ul>
    </div>
  </div>
</div>
