<% for(item in public._hammers) { %>
  <div class="ProductCard">
    <a class="ProductCard-target">
      <div class="ProductCard-imageContainer">
        <img class="ProductCard-image" src="{{ product.thumbnailUrl }}">
      </div>
      <div class="ProductCard-titleContainer">
        <div class="ProductCard-title">
          <p class="ProductCard-titleText">
            <%= item.title %>
          </p>
        </div>
        <p class="ProductCard-inventory">
          <span class="ProductCard-price">{{ product.price || 0 }}</span> - {{ product.inventoryCount || 0 }} in stock
        </p>
      </div>
      <div class="ProductCard-buttonContainer">
        <div add-to-cart-button
             data-tracking-namespace="PLP"
             data-product="product"
             data-stock="product.inventoryCount">
        </div>
      </div>
    </a>
  </div>
<% } %>

