<ul class="blog-list-dook">


<%
var hammers = [
    { "id": 1, "name": "pete" },
    { "id": 2, "name": "john" },
    { "id": 3, "name": "jake" }
];
// var hammers = public.hammers.data;
for(var hammer in hammers){ %>
<li>
    <a href="/blogs/"><%=hammers[hammer].name%></a>
    <p><%=hammers[hammer].name%></p>
</li>
<% } %>
</ul>
