<div class="Header hidden-xs">

  <div class="Header-top">

    <div class="Header-logo pull-left">
      <a ui-sref="storeFront" hd-track-click="Header - Logo">
        <div class="Header-logo-img"></div>
      </a>
    </div>

    <div hd-store-dropdown></div>

    <div hd-header-tools></div>

    <div hd-account-menu></div>

  </div>

  <div class="Header-bottom">

    <div hd-category-dropdown></div>

    <div class="Header-search">
      <div hd-search-field class="search-desktop" data-placeholder="Search Products"></div>
    </div>

    <div class="Header-cart" ng-click="toggleCart()">
      <i class="fa fa-shopping-cart"></i>
      View cart ({{ cartModel.itemCount }})
    </div>
    <div hd-cart ng-show="showCart"></div>

  </div>

</div>
