<div>
  <nav class="Header-tools pull-left hidden-sm">
    <ul class="Header-toolsList">
      <li class="list-item" ui-sref="purchaseHistory" hd-track-click="Navigation - Purchases">
        <i class="fa fa-book pull-left"></i>
        Purchases
      </li>
      <li class="list-item" ui-sref="lists" hd-track-click="Navigation - Lists">
        <i class="fa fa-list pull-left"></i>
        Lists
      </li>
      <li class="list-item" ui-sref="storeFinder" hd-track-click="Navigation - Store Finder">
        <i class="fa fa-location-arrow pull-left"></i>
        Store Finder
      </li>
    </ul>
  </nav>
  <nav class="Header-tools pull-left visible-sm">
    <div class="dropdown HeaderDropdown">
      <a class="dropdown-toggle" data-toggle="dropdown">
        <i class="fa fa-caret-down pull-right"></i>
        Tools
      </a>
      <ul class="dropdown-menu dropdown-menu--dark">
        <li class="list-item" ui-sref="purchaseHistory" hd-track-click="Navigation - Purchases">
          <i class="fa fa-book pull-left"></i>
          Purchases
        </li>
        <li class="list-item" ui-sref="lists" hd-track-click="Navigation - Lists">
          <i class="fa fa-list pull-left"></i>
          Lists
        </li>
        <li class="list-item" ui-sref="storeFinder" hd-track-click="Navigation - Store Finder">
          <i class="fa fa-location-arrow pull-left"></i>
          Store Finder
        </li>
      </ul>
    </div>
  </nav>
</div>
