<div class="Footer hidden-xs">
  <div class="container">
    <div class="row">
      <div class="FooterSection col-xs-4">
        <div class="FooterSection-title">Pro Tools</div>
        <a class="FooterSection-link" href="http://www.homedepot.com/c/Pro_Xtra">Pro Xtra</a>
        <a class="FooterSection-link" href="http://www.homedepot.com/c/Pro_Mobile_App">Pro App</a>
        <a class="FooterSection-link" href="http://www.homedepot.com/c/Pro_Desk">Pro Desk</a>
        <a class="FooterSection-link" href="http://www.homedepot.com/c/Pro_SavingsInnovations">Pro Savings Center</a>
        <a class="FooterSection-link" href="http://www.homedepot.com/c/Pro_CommercialCredit">Commercial Credit Options</a>
        <a class="FooterSection-link" href="http://thd.eagleview.com/">Home Depot Estimator</a>
        <a class="FooterSection-link" href="http://www.homedepot.com/c/Tool_Truck_Rental">Tool &amp; Truck Rental</a>
      </div>
      <div class="FooterSection col-xs-4">
        <div class="FooterSection-title">Services</div>
        <a class="FooterSection-link" href="http://www.homedepot.com/c/Pro_BulkPricing">Bulk Pricing</a>
        <a class="FooterSection-link" href="http://www.homedepot.com/c/Pro_DeliveryOptions">Delivery Options</a>
        <a class="FooterSection-link" href="http://www.homedepot.com/c/Pro_DirectToJob">Direct to Job Site Delivery</a>
        <a class="FooterSection-link" href="http://pages.homedepot.com/ProOptin">Pro Emails</a>
        <a class="FooterSection-link" href="http://www.homedepot.com/c/Pro_Paint">Pro Rewards Paint</a>
        <a class="FooterSection-link" href="http://www.homedepot.com/c/Pro_TaxExempt">Tax Exempt Purchases</a>
        <a class="FooterSection-link" href="http://www.homedepot.com/c/Pro_VolumePricing">Volume Pricing Discounts</a>
      </div>
      <div class="FooterSection col-xs-4">
        <div class="FooterSection-title">Customer Care</div>
        <a class="FooterSection-link" href="http://www.homedepot.com/webapp/wcs/stores/servlet/OrderTrackingForm">Track Your Order</a>
        <a class="FooterSection-link" href="http://www.homedepot.com/c/Return_Policy">Return Policy</a>
        <a class="FooterSection-link" href="http://www.homedepot.com/c/pick_up_in_store">Pick-Up in Store Policy</a>
        <a class="FooterSection-link" href="http://www.homedepot.com/c/The_Home_Depot_Protection_Plans">Protection Plans</a>
        <a class="FooterSection-link" href="http://www.homedepot.com/c/Privacy_Security">Privacy &amp; Security</a>
        <a class="FooterSection-link" href="http://www.homedepot.com/c/California_Privacy_Rights">California Rights &amp; Regulations</a>
        <a class="FooterSection-link" href="http://www.homedepot.com/c/Contact_Us">Contact Us</a>
      </div>
    </div>
  </div>
</div>
