<div class="col-xs-12">

  <div class="Chrome row">
    <h3 class="Chrome-title">Occupations</h3>
  </div>

  <div class="OccupationArea row clearfix">
    <div class="OccupationCard" ng-repeat="occupation in occupations">
      <img class="OccupationCard-image" src="http://placekitten.com/g/125/125">
      <h4 class="OccupationCard-title">{{ occupation }}</h4>
    </div>
  </div>

</div>
