<!-- recent items -->
<div class="recent row">
  <%- partial("_hammers.ejs") %>
</div>

<!-- categories -->
<div hd-category-list
     data-category-title="categoryTitle"
     data-stack="stack">
     <%- partial("_storefront-category-list.ejs") %>
</div>

<!-- occupations -->
<div class="occupation row">
<%- partial("_storefront-occupation-list.ejs") %>
</div>

<!-- suggested items -->
<div class="suggested row">
</div>
