<!-- recent items -->
<div class="recent row">
<%- partial("../_template-test.ejs") %>


</div>

<!-- categories -->
<div class="category-list row">
asdf
</div>

<!-- occupations -->
<div class="occupation row">
asdf
</div>

<!-- suggested items -->
<div class="suggested row">
asdf
</div>
